table {
    margin-left:auto; 
    margin-right:auto;
}
body {
	background-color: lightcyan;
	text-align: center;
}
.cell button {
	height: 100%;
	width: 100%;
}
#minefield {
	margin: 0 auto;
}
.cell, .test {
	padding: 0;
	height: 33px;
	width: 33px;
}
