table {
    margin-left:auto; 
    margin-right:auto;
}
body {
	background-color: lightgray;
	text-align: center;
}
button {
	height: 100%;
	width: 100%;
}
#minefield {
	margin: 0 auto;
}
#cell {
	height: 33px;
	width: 33px;
}
.cell {
	background-color: lightgrey;
	border: 1px solid black;
	height: 33px;
	width: 33px;
}
